.button {
  font-weight: 500;
  color: #fff;
}

.primary {
  border-radius: 62px;
  padding: 16px 54px;
  border-radius: 62px;
  background: #000;
  border: none;
}

.secondary {
}

.medium {
  width: 210px;
  height: 52px;
}

.large {
}
