.top-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 38px;
  font-size: 14px;
  position: relative;

  .banner-text {
    font-family: var(--font-satoshi), sans-serif;
    font-weight: 400;
    .banner-link {
      font-family: var(--font-satoshi-medium);
      font-weight: 500;
      text-decoration: underline;
      text-decoration-skip-ink: none
    }
  }
  .icon {
    justify-content: flex-end;
    position: absolute;
    float: right;
    right: 103px;
  }
}
