.top-banner {
  background-color: #000;
  color: #fff;
  text-align: center;

  .banner-text {
    font-size: 14px;
    font-family: var(--font-satoshi-regular), sans-serif;

    .banner-link {
    }
  }
}
