.searchbox-container {
  display: flex;
  width: max-content;
  align-items: center;
  background: #f0f0f0;
  border-radius: 62px;
  width: 100%;

  .searchbox {
    width: 540px;
    outline: none;
    background: transparent;
    border: none;
    margin-left: 12px;
    color: #000;
  }

  .icon {
    margin-left: 16px;
  }
}
