.searchbox {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  width: 607px;
  height: 48px;
  border-radius: 62px;

  .input {
    width: 540px;
    outline: none;
    background: transparent;
    border: none;
    font-family: var(--font-satoshi);
    font-weight: 400;
    font-size: 16px;
    margin-left: 12px;
    color: #000;
  }

  .icon {
    margin-left: 16px;
    /* position: absolute; */
  }
}
