:root {
  --font-primary: var(--font-satoshi);
  --font-secondary: var(--font-integralcf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-primary);
  font-weight: 400;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}
