.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 24px 100px;
  gap: 40px;
  align-items: stretch;
  /* ??? Why does this only work when min-height > 84px ??? */
  min-height: 96px;

  .logo,
  .nav,
  .icons,
  .link {
    display: flex;
    align-items: center;
  }

  .logo {
    font-weight: 400;
    font-size: 28px;
  }

  .nav {
    display: flex;
    gap: 24px;

    .link {
      display: flex;
      gap: 4px;
    }

    a {
      font-size: 16px;
    }
  }

  .icons {
    display: flex;
    gap: 14px;
  }
}
