.header {
  width: 100%;
  max-width: 1440px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 100px;
  gap: 40px;

  .logo {
    font-family: var(--font-integralcf), sans-serif;
    font-weight: 400;
    font-size: 28px;
  }

  .nav {
    display: flex;
    gap: 24px;

    .link {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    a {
      font-size: 16px;
    }
    .searchbox {
    }
  }

  .icons {
    display: flex;
    gap: 14px;
  }
}
